*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

selection{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg,#03a9f4 0%,#3a78b7 50%,#262626 50%,#607d8b 100%);
}

.container_box{
    position: relative;
    padding: 50px;
    width: 360px;
    height:480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.1);
    border-radius: 50px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.2);
}